

.ctn{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left{
    height: 100vh;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* background-color: #800b0b; */
    
}

.top{
    width: 100%;
    height:10%;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: 30px;
    background-color: rgb(32, 44, 51);
} 
.pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.t_left{
    display: flex;
    gap: 10px;
    height: 100px;
    width: 30%;
    justify-content: center;
    align-items: center;
    
}
.t_right {
    display: flex;
    gap: 20px;
    height: 100px;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    
}
.menu,.chat,.status,.users,.lock {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.menu:hover,.chat:hover,.lock:hover,.status:hover,.users:hover {
    transform: scale(1.2);
}

.i_ctn{
    width: 90%;
    height: 40px;
    border: 1px solid rgb(60, 64, 67);
    background-color: rgb(32, 44, 51);
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
}
.i_field{
    width: 80%;
    height: 30px;
    background-color: rgb(32, 44, 51);
    color: #fff;
    border: none;
}
.i_field:focus{
    outline: none;
}
.bottom{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    background-color: rgb(17, 27, 33);
    
}
.contact_ctn {
    margin-top: 10px;
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-top: 10px; */
    /* padding-left: 20px; */
    /* gap: 10px; */
    background-color: rgb(17, 27, 33);
    overflow-x:hidden;
    overflow-y: scroll;
    
}

.heading{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}
/* .filter{
    background-color: #03C988;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
} */

.right{
    width: 60vw;
    height: 100vh;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icn{
    height:20px;
    width: 20px;
    cursor: pointer;
}
.icn:hover {
    transform: scale(1.2);
}
.lock_ctn {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    backdrop-filter: blur(10px);
    gap: 10px;

    /* background-color: grey; */
}
.Lock_ctn {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: lighter;
    /* padding-bottom: 10px; */
    /* background-color: aqua; */
}
.unlock_ctn {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: rgb(50, 131, 108); */
    /* padding-top: 10px; */
}
.lockInput_ctn {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
.lockInput_ctn:focus {
    outline: none;
}
.lock_img,.Enter_img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    margin-top: 5px;
    margin-right: 190px;
}

.lock_img:hover,.Enter_img:hover {
    transform: scale(1.05);

}

.Enter_img {
    margin-left: 400px;
}

.Logging {
    
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: blue; */
    
}
.logout {
    color: rgb(162, 34, 37);
    cursor: pointer;
}
.forgot {
    color: rgb(137, 143, 146);
    cursor: pointer;
}
.logout:hover , .forgot:hover {
    transform: scale(1.03);
}